@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

@font-face {
	font-family: 'Pangaia';
	src: url('static/PPPangaia-Medium.otf');
}
@font-face {
	font-family: 'Pangaia Italic';
	src: url('static/PPPangaia-MediumItalic.otf');
}
@font-face {
	font-family: 'Neue Montreal';
	src: url('static/PPNeue-Montreal.otf');
}

.custom-cursor {
	z-index: 1000;
	position: fixed;
	width: 3em;
	height: 3em;
	border: 2px solid theme('colors.text');
	background-color: theme('colors.background');
	opacity: 0.5;
	border-radius: 50%;
	pointer-events: none;
	mix-blend-mode: plus-lighter;
	transition: transform 0.1s ease-out;
	transform: translate(-50%, -50%);
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	color: theme('colors.text');
	background-color: theme('colors.background');
	font-family: 'Neue Montreal', sans-serif;
	line-height: 1.2;
}

main {
	padding: 0 3em;
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.text-plane {
	display: inline-block;
	/* apply negative margins and padding to avoid chars from being cropped */
	margin: -1.2em;
	padding: 1.2em;
	/* hide the original text content */
	/* opacity: 0; */
	/* font-weight: 800; */
}

a {
	cursor: pointer;
	color: theme('colors.secondary');
	/* line-height: 2em; */
}
#content {
	width: 100%;
	padding: 2.5vw;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
	/* text-decoration: none; */
	/* text-transform: uppercase; */
}

#content > * p {
	font-weight: 900;
	padding: 1em 0;
}

#content h1 {
	text-align: center;
	margin: 25vh 0;
	font-size: 10vw;
	text-transform: none;
	font-family: 'Pangaia', serif;
	font-weight: 800;
	line-height: 1;
}

#content h2 {
	width: 25%;
	margin: 15vh 0 15vh 50%;
	font-size: 4vw;
	font-weight: 800;
	line-height: 1;
}

#extras {
	margin-left: 25%;
}

#objective {
	margin-left: 50%;
}

header {
	a {
		transition: all 0.5s ease-in-out;
		/* line-height: 2em; */
	}
	a:hover {
		color: #fff;
	}
	a.active {
		&::after {
			transform: scaleX(1);
			content: '';
			display: block;
			position: absolute;
			bottom: -2px;
			width: 100%;
			height: 0.12em;
			background: currentColor;
		}
	}
	& nav > #navigation {
		a:hover {
			letter-spacing: 0.25em;
		}
	}
}

@keyframes rotate-btn {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(-1);
	}
	100% {
		transform: scaleX(1);
	}
}

.text-reflect {
	position: relative;
	display: inline-block;
	&:hover .logo {
		animation: rotate-btn 2s ease-in-out infinite;
	}
	&::after {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.5;
		pointer-events: none;
	}
}

#footer-container {
	display: inline-block;
	padding: 1vw;
	width: 100%;
	white-space: nowrap;
}

footer {
	background: rgb(54, 51, 72);
	background: linear-gradient(
		180deg,
		rgba(54, 51, 72, 1) 10%,
		rgba(86, 70, 67, 1) 35%,
		rgba(212, 146, 46, 1) 100%
	);

	#breakdown {
		& a {
			color: theme('colors.secondary');
			transition: all 1s ease;
			line-height: 1.5em;
		}
	}
	#links-container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
	}
	.icon-text-pair {
		display: flex;
		align-items: center;
		gap: 0.25em;
		padding-bottom: 0.2em;
		margin-bottom: 0.5em;
		justify-content: flex-end;
	}
}

.animated-underline {
	position: relative;
	display: inline-block;
	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: -2px;
		width: 100%;
		height: 0.12em;
		/* background: theme('colors.accent'); */
		background: currentColor;
		/* TODO: make transition speed consisten across the width of the object */
		transition: transform 0.5s ease-in-out;
		transform-origin: center bottom;
		transform: scaleX(0);
	}
	&.thin {
		&::after {
			height: 0.05em;
		}
	}
	&:hover {
		mix-blend-mode: luminosity;
	}
	&:hover::after {
		bottom: -2px;
		transform: scaleX(1);
	}
}
