@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

@font-face {
	font-family: 'Pangaia';
	src: url('/fonts/PPPangaia-Medium.otf');
}
@font-face {
	font-family: 'Pangaia Italic';
	src: url('/fonts/PPPangaia-MediumItalic.otf');
}
@font-face {
	font-family: 'Neue Montreal';
	src: url('/fonts/PPNeue-Montreal.otf');
}

.custom-cursor {
	z-index: 1000;
	position: fixed;
	width: 3em;
	height: 3em;
	border: 2px solid theme('colors.text');
	background-color: theme('colors.background');
	opacity: 0.5;
	border-radius: 50%;
	pointer-events: none;
	mix-blend-mode: plus-lighter;
	transition: transform 0.1s ease-out;
	transform: translate(-50%, -50%);
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	color: theme('colors.text');
	background-color: theme('colors.background');
	font-family: 'Neue Montreal', sans-serif;
}

#landing {
	background-image: url('/topo1.svg'), url('/topo2.svg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: auto;
	background-position:
		20% 20%,
		80% 80%;
}

#hero {
	text-align: center;
}

#hero > canvas {
	width: 100% !important;
	height: 100% !important;
}

#page-container {
	padding: 0 2em;
}

@media only screen and (min-width: 768px) {
	#page-container {
		padding: 0 4em;
	}
}

.iconify {
	> path {
		stroke-width: 1.5;
	}
	> g {
		stroke-width: 1.5;
	}
}

a {
	cursor: pointer;
	color: theme('colors.secondary');
	/* line-height: 2em; */
}

#content > * p {
	font-weight: 900;
	padding: 1em 0;
}

header {
	a {
		transition: all 0.5s ease-in-out;
		/* line-height: 2em; */
	}
	a:hover {
		color: #fff;
	}
	a.active {
		&::after {
			transform: scaleX(1);
			content: '';
			display: block;
			position: absolute;
			bottom: -2px;
			width: 100%;
			height: 0.12em;
			background: currentColor;
		}
	}
	& nav > #navigation {
		a:hover {
			letter-spacing: 0.25em;
		}
	}
}

@keyframes rotate-btn {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(-1);
	}
	100% {
		transform: scaleX(1);
	}
}

.text-reflect {
	position: relative;
	display: inline-block;
	&:hover .logo {
		animation: rotate-btn 2s ease-in-out infinite;
	}
	&::after {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.5;
		pointer-events: none;
	}
}

#footer-container {
	display: inline-block;
	padding: 1vw;
	width: 100%;
	white-space: nowrap;
}

footer {
	background: rgb(54, 51, 72);
	background: linear-gradient(
		180deg,
		rgba(54, 51, 72, 1) 10%,
		rgba(86, 70, 67, 1) 35%,
		rgba(212, 146, 46, 1) 100%
	);

	#breakdown {
		& a {
			color: theme('colors.secondary');
			transition: all 1s ease;
			line-height: 1.5em;
		}
	}
	#links-container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
	}
	.icon-text-pair {
		display: flex;
		align-items: center;
		gap: 0.25em;
		padding-bottom: 0.2em;
		margin-bottom: 0.5em;
		justify-content: flex-end;
	}
}

.animated-underline-container > span,
.animated-underline {
	position: relative;
	display: inline-flex;
}

.animated-underline-container:hover > span::after,
.animated-underline-container > span::after,
.animated-underline:hover::after,
.animated-underline::after {
	bottom: -2px;
}

.animated-underline-container > span::after,
.animated-underline::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 0.12em;
	background: currentColor;
	/* TODO: make transition speed consisten across the width of the object */
	transition: transform 0.5s ease-in-out;
	transform-origin: center bottom;
	transform: scaleX(0);
}

.animated-underline-container:hover,
.animated-underline:hover {
	mix-blend-mode: luminosity;
}
.animated-underline-container:hover > span::after,
.animated-underline:hover::after {
	transform: scaleX(1);
}

.button-visible {
	visibility: visible;
	opacity: 1;
}

.button-hidden {
	opacity: 0;
	visibility: hidden;
}

.bounce-animation {
	animation: bounce 2.5s cubic-bezier(0.79, 0.14, 0.15, 0.86) 2s infinite;
	animation-play-state: running;
	transition:
		visibility 0.5s linear,
		opacity 0.5s linear;
}

.bounce-animation:hover {
	animation-play-state: paused;
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-15px);
	}
	95% {
		transform: translateY(-5px);
	}
}

.read-more-button {
	display: inline-flex;
	margin: 0.5rem 0;
	padding: 7px 10px; /* Adjust padding for desired size */
	font-size: 0.8rem; /* Adjust font size as needed */
	color: theme('colors.background'); /* Text color */
	background-color: theme('colors.accent'); /* Button background color */
	border: none; /* Remove default border */
	border-radius: 25px; /* Rounded corners */
	text-decoration: none; /* Remove underline from text */
	text-align: center; /* Center text */
	align-items: center;
	gap: 0.2rem;
	transition: background-color 0.3s ease-in-out; /* Smooth transition for hover effect */
	cursor: pointer; /* Pointer cursor on hover */
}

/* Hover effect for the button */
.read-more-button:hover {
	background-color: theme('colors.secondary');
	opacity: 75;
}
